{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="robots" content="noindex,nofollow" />
      <meta name="description" content="{% block description %}{% endblock %}" />
      <meta name="keywords" content="{% block keywords %}{% endblock %}" />
      <link rel="stylesheet" type="text/css" href="{{ FRAMEWORK_TEMPLATE_URL }}/default/css/body.css" media="screen, projection" />
    {% endblock head %}
  </head>
  <body>
    <div id="framework_body">
      {% block user_navigation %}
        {% if is_authenticated(app) %}
          <div id="user_navigation">
            {{ user_display_name(app) }} | <a href="{{ FRAMEWORK_URL }}/admin/account">{{ 'Account'|trans }}</a> | <a href="{{ FRAMEWORK_URL }}/admin/logout">{{ 'Logout'|trans }}</a>
          </div>
        {% endif %}  
      {% endblock user_navigation %}
      <div id="framework_content">
        {% block content %}{% endblock %}
      </div>
      <div id="framework_footer">
        {% block footer %}
          <a href="https://kit2.phpmanufaktur.de" target="_blank" class="framework_img"></a>
        {% endblock footer %}
      </div>    
    </div>    
  </body>
</html>
