{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="robots" content="noindex,nofollow" />
      <meta name="description" content="{% block description %}{% endblock %}" />
      <meta name="keywords" content="{% block keywords %}{% endblock %}" />
      <link rel="stylesheet" type="text/css" href="{{ TEMPLATE_URL }}/framework/default/screen.css" media="screen, projection" />
    {% endblock %}
  </head>
  <body>
    <div id="framework_body">
      {% block user_navigation %}
        {% if is_authenticated() %}
          <div id="user_navigation">
            {{ user_display_name() }} | <a href="{{ path('admin_account') }}">{{ 'Account'|trans }}</a> | <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
          </div>
        {% else %}
          <div id="user_navigation">
            <a href="{{ path('login') }}">{{ 'Login'|trans }}</a>
          </div>
        {% endif %}  
      {% endblock %}
      <div id="framework_content">
        {% block content %}{% endblock %}
      </div>
    </div>      
    <div id="framework_footer">
      {% block footer %}
        The <a href="https://kit2.phpmanufaktur.de" target="_blank">kitFramework</a> is created by <a href="http://phpmanufaktur.de" target="_blank">phpManufaktur</a> and build on <a href="http://silex.symfony.com" target="_blank">Silex</a>.
      {% endblock %}
    </div>
  </body>
</html>
