{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
    {% set template_namespace = '@framework' %}
    {% set template_file = 'body.twig' %}
{% else %}
    {% set template_namespace = '@phpManufaktur/Propangas24/Template' %}
    {% set template_file = 'body.backend.twig' %}
{% endif %}
{% extends template_file(template_namespace, template_file) %}
{% if usage == 'framework' %}
    {% block title %}{{ 'Propangas24 - About'|trans }}{% endblock %}
    {% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Propangas24/Template/default/css/backend.css" media="screen, projection" />
    {% endblock head %}
{% endif %}
{% block content %}
    {% block toolbar %}
        <ul class="toolbar">
        {% for item in toolbar %}
            <li{% if item.active %} class="active"{% endif %}><a href="{{ item.link }}">{{ item.text }}</a></li>
        {% endfor %}
        </ul>
    {% endblock toolbar %}
    ABOUT!!!
{% endblock content %}