{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@framework', 'body.twig') %}
{% block title %}
  {{ 'kitFramework - Login'|trans }}
{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/css/create.password.css" media="screen, projection" />
{% endblock %}
{% block user_navigation %}
  {# no user navigation at the login dialog! #}
{% endblock %}  
{% block content %}
  <div class="password_container">
    <h1>{{ 'Link transmitted'|trans }}</h1>
    <p>{{ 'We have send a link to your email address %email%.'|trans({'%email%':email}) }}</p>
    <p>{{ 'This link enable you to change your password once within 24 hours.'|trans }}</p>
    <p><a href="{{ FRAMEWORK_URL }}/login">{{ 'Login'|trans }}</a></p>
  </div>
{% endblock content %}
