{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@framework', 'body.twig') %}
{% block title %}{{ 'kitFramework - Forgot password'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/css/forgot.password.css" media="screen, projection" />
{% endblock head %}
{% block content %}
  <h1>{{ 'Forgot your password?'|trans }}</h1>
  <div class="password_container">
    {% if message|length > 0 %}
      <div class="message">
        {{ message|trans }}
      </div>
    {% endif %}
    {{ '<p>If you have forgotten your password, you can order a link to create a new one.</p><p>Please type in the email address assigned to your account and submit the form.</p>'|trans }}
    <div class="framework_form">  
      <form action="{{ FRAMEWORK_URL }}/password/reset" method="post"> 
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}        
        {{ form_rest(form) }}
        <label for="form_submit">&nbsp;</label><input id="form_submit" type="submit" value="{{ 'Submit'|trans }}" />  
      </form>
    </div>
    <div class="clear"></div>    
  </div>
{% endblock content %}
