{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@framework', 'body.twig') %}
{% block title %}
  {{ 'kitFramework - Create new password'|trans }}
{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/css/set.password.css" media="screen, projection" />
{% endblock %}
{% block content %}
  <h1>{{ 'kitFramework - Create new password'|trans }}</h1>
  <div class="message">
    {{ message }}
  </div>
  <div class="framework_form">
    <form action="{{ FRAMEWORK_URL }}/password/retype" method="post"> 
      {{ form_widget(form) }}
      <label for="form_submit">&nbsp;</label><input id="form_submit" type="submit" value="{{ 'Submit'|trans }}" />  
    </form>
  </div>
{% endblock content %}
