{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@framework', 'body.twig') %}
{% block title %}{{ 'kitFramework - Setup'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/css/setup.css" media="screen, projection" />
{% endblock %}
{% block content %}
  <div class="setup_container">
    {{ 'Setup not implemented yet!'|trans }}
    <p><a href="{{ path('setup_start') }}">{{ 'Finish Setup'|trans }}</a></p>
  </div>
{% endblock %}
